<div id="safetyCone">
	<div id="cone"></div>
	<div id="base"></div>
</div>
<div id="message">
	This website is under construction. We will be back up shortly. <br>
	While you're waiting, feel free to <%= obfuscate_email 'me@joahg.com', 'email me', 'Website suggestion' %> with your thoughts.
</div>